<div class="box">
  <h2>Liki DevTalk #{{listOfContent.length}}</h2>
  <button (click)="toggleErrorMode()" [class.error-mode-on]="errorMode"
          class="error-mode">
    Error mode: {{errorMode ? 'ON' : 'OFF'}}
  </button>

  <div class="actions">
    <button (click)="refreshList()">Refresh  {{errorMode ? ' (will error out)' : ''}}</button>
    <button (click)="clearList()">Clear {{errorMode ? ' (will error out)' : ''}}</button>
    <button  *ngIf="errorMode" (click)="throwError()">Throw error</button>
  </div>
  <h4>
    List of content:
  </h4>
  <ul>
    <li *ngFor="let item of listOfContent;
                let i = index;
                let last = last;"
        [class.current]="last">
      {{i + 1}}) {{item.author}}: {{item.topic}}
    </li>
  </ul>
</div>
