/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: rgba(172, 172, 172, 0.5)
}
h1, h2, h3, h4 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 300;
}
h2 {
  font-weight: 100;
}
